<h1>Create new topic</h1>

<%= form_with model: @topic do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :category %><br>
    <%= form.grouped_collection_select(:category_id, Section.all, :categories, :name, :id, :name) %>
  </p>

  <p>
    <%= form.label :pinned %>
    <%= form.check_box :pinned %>
  </p>

  <p>
    <%= form.label :closed %>
    <%= form.check_box :closed %>
  </p>

  <%= form.fields_for :posts do |post| %>
  <p>
    <%= post.label :message %><br>
    <%= post.text_area :message %>
  </p>
  <% end %>

  <p>
    <%= form.submit %>
  </p>
<% end %>