<header>
  <%= stylesheet_link_tag "header" %>
  <ul class="nav-list">
    <li>
      <%= link_to 'Forum', root_path, class: 'header-link' %>
    </li>

    <% if user_signed_in? %>
      <li>
      <%= link_to current_user.username, edit_user_registration_path, class: 'header-link' %>
      </li>

      <li>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'header-link' %> |
      </li>
    <% else %>
      <li>
        <div>
        <%= link_to 'Sign up', new_user_registration_path, class: 'header-link' %>
        </div>
      </li>
    <% end %>
  </ul>
</header>